# Assignment Dependencies
numpy
pillow
matplotlib
scipy

# Assignment 2 - Features & Classification
opencv-python
scikit-image
scikit-learn

# Assignment 4 - Deep Learning
torch
torchvision
lightning
torchmetrics

# Assignment 5 - Tracing/Tracking
PySide6
sk-video
